SECRET_KEY=JWT_SECRET
DEBUG=FALSE
TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN
TWILIO_VERIFY_SERVICE_SID=TWILIO_VERIFY_SERVICE_SID
OTP_WHITELIST=OTP_WHITELIST
OTP_TEST_CODE=OTP_TEST_CODE
OTP_TEST_MODE=OTP_TEST_MODE
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name